*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.form-container{
  display: flex;
  flex-direction: column;
}

.container{
  background-color: rgb(192, 223, 250);
  padding: 1rem;
}

input[type=text],.postContent{
  margin: .5rem;
  padding: .5rem;
}
button{
  margin: .5rem;
  background-color: rgb(126, 195, 255);
  border: none;
  padding: .5rem;
}
button:hover{
  background-color: rgb(181, 182, 183);
}

.post{
  background-color: rgb(192, 223, 250);
  margin: .5rem;
  width: 40.5vw;
  padding: .5rem;
}

.title{
  margin: .5rem;
  padding: .5rem;
  background-color: rgb(126, 195, 255);
}
.body{
  margin: .5rem;
  padding: .5rem;
}